---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ae6c4411dfc9597713a7f7f47d241c3801935a8dc44d6e2efc2a245578751591&featured&orientation=landscape&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: UTF-8
      string: '{"id":"iPJ0kAsLiz4","created_at":"2019-11-18T11:03:05-05:00","updated_at":"2019-11-20T14:04:49-05:00","promoted_at":null,"width":4608,"height":3456,"color":"#EAECF2","description":"Sky
        porn","alt_description":"house on hill with trees on sides","urls":{"raw":"https://images.unsplash.com/photo-1574092804570-5ac3c90b511d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk5M30","full":"https://images.unsplash.com/photo-1574092804570-5ac3c90b511d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDk5M30","regular":"https://images.unsplash.com/photo-1574092804570-5ac3c90b511d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30","small":"https://images.unsplash.com/photo-1574092804570-5ac3c90b511d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30","thumb":"https://images.unsplash.com/photo-1574092804570-5ac3c90b511d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30"},"links":{"self":"https://api.unsplash.com/photos/iPJ0kAsLiz4","html":"https://unsplash.com/photos/iPJ0kAsLiz4","download":"https://unsplash.com/photos/iPJ0kAsLiz4/download","download_location":"https://api.unsplash.com/photos/iPJ0kAsLiz4/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"SYD_ykAYIuA","updated_at":"2020-01-07T13:03:17-05:00","username":"suku95","name":"Sukanya
        Basu","first_name":"Sukanya","last_name":"Basu","twitter_username":"suku101","portfolio_url":null,"bio":"Wandering
        the earth seeking fulfilling experiences. Geek with a tinge of philosophy.","location":"Bangalore,
        India","links":{"self":"https://api.unsplash.com/users/suku95","html":"https://unsplash.com/@suku95","photos":"https://api.unsplash.com/users/suku95/photos","likes":"https://api.unsplash.com/users/suku95/likes","portfolio":"https://api.unsplash.com/users/suku95/portfolio","following":"https://api.unsplash.com/users/suku95/following","followers":"https://api.unsplash.com/users/suku95/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1574093129799-2a5954156800image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1574093129799-2a5954156800image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1574093129799-2a5954156800image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"su.kanye","total_collections":2,"total_likes":7,"total_photos":23,"accepted_tos":true},"exif":{"make":"OnePlus","model":"ONEPLUS
        A6010","exposure_time":"1/750","aperture":"1.7","focal_length":"4.2","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":3082,"downloads":23}'
  recorded_at: Wed, 15 Jan 2020 17:57:03 GMT
recorded_with: VCR 5.0.0
