---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<MAP_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 01:37:32 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<MAP_API_KEY>&latlng=39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "P2Q5+MV Denver, CO, USA",
              "global_code" : "85FQP2Q5+MV"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1437",
                       "short_name" : "1437",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Bannock Street",
                       "short_name" : "Bannock St",
                       "types" : [ "route" ]
                    },
  [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<FORECAST_API_KEY>/39.7392358,-104.990251?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 485ms
      X-Forecast-Api-Calls:
      - '4'
      X-Response-Time:
      - 72.641ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579052254,"summary":"Clear","icon":"clear-night","nearestStormDistance":8,"nearestStormBearing":327,"precipIntensity":0,"precipProbability":0,"temperature":44.2,"apparentTemperature":44.48,"dewPoint":6.87,"humidity":0.21,"pressure":1009.2,"windSpeed":2.41,"windGust":4.73,"windBearing":104,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.7},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579050000,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":46.22,"apparentTemperature":46.22,"dewPoint":5.81,"humidity":0.19,"pressure":1008.6,"windSpeed":2.61,"windGust":7.66,"windBearing":74,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.1},{"time":1579053600,"summary":"Clear","icon":"clear-night","precipIntensity":0.0008,"precipProbability":0.01,"precipType":"rain","temperature":43.04,"apparentTemperature":43.04,"dewPoint":7.15,"humidity":0.22,"pressure":1009.4,"windSpeed":2.64,"windGust":3.55,"windBearing":113,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.9},{"time":1579057200,"summary":"Clear","icon":"clear-night","precipIntensity":0.0011,"precipProbability":0.01,"precipType":"rain","temperature":39.97,"apparentTemperature":36.14,"dewPoint":7.64,"humidity":0.26,"pressure":1010.9,"windSpeed":5.4,"windGust":6.02,"windBearing":179,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":354.1},{"time":1579060800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":37.75,"apparentTemperature":34.18,"dewPoint":8.08,"humidity":0.29,"pressure":1011.8,"windSpeed":4.59,"windGust":6.34,"windBearing":202,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":353.3},{"time":1579064400,"summary":"Clear","icon":"clear-night","precipIntensity":0.0005,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0026,"temperature":35.83,"apparentTemperature":32.41,"dewPoint":8.27,"humidity":0.31,"pressure":1013.2,"windSpeed":4.09,"windGust":5.54,"windBearing":208,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":351.8},{"time":1579068000,"summary":"Clear","icon":"clear-night","precipIntensity":0.0011,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0065,"temperature":33.48,"apparentTemperature":29.65,"dewPoint":8.47,"humidity":0.35,"pressure":1014.3,"windSpeed":4.14,"windGust":6.06[...]
