---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ae6c4411dfc9597713a7f7f47d241c3801935a8dc44d6e2efc2a245578751591&featured&orientation=landscape&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: UTF-8
      string: '{"id":"V3lJ6l6afrU","created_at":"2019-09-15T21:42:05-04:00","updated_at":"2019-10-15T08:15:35-04:00","promoted_at":null,"width":4240,"height":2832,"color":"#090705","description":"sunflowers
        near Denver airport","alt_description":"yellow sunflowers","urls":{"raw":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk5M30","full":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDk5M30","regular":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30","small":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30","thumb":"https://images.unsplash.com/photo-1568598035731-e1a4267ebb54?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDk5M30"},"links":{"self":"https://api.unsplash.com/photos/V3lJ6l6afrU","html":"https://unsplash.com/photos/V3lJ6l6afrU","download":"https://unsplash.com/photos/V3lJ6l6afrU/download","download_location":"https://api.unsplash.com/photos/V3lJ6l6afrU/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"user":{"id":"17T2WlovpRw","updated_at":"2020-01-02T01:50:03-05:00","username":"freetousesoundscom","name":"Free
        To Use Sounds","first_name":"Free To","last_name":"Use Sounds","twitter_username":"freetousesounds","portfolio_url":"https://www.freetousesounds.com","bio":"Hi,
        I''m Marcel and I''ve been traveling around the world for over 4.5 years already.
        I provide high-quality sounds for filmmakers, sound designers, and editors!
        If you are looking for royalty free sounds make sure you visit my site Free
        To Use Sounds!","location":"Los Angeles","links":{"self":"https://api.unsplash.com/users/freetousesoundscom","html":"https://unsplash.com/@freetousesoundscom","photos":"https://api.unsplash.com/users/freetousesoundscom/photos","likes":"https://api.unsplash.com/users/freetousesoundscom/likes","portfolio":"https://api.unsplash.com/users/freetousesoundscom/portfolio","following":"https://api.unsplash.com/users/freetousesoundscom/following","followers":"https://api.unsplash.com/users/freetousesoundscom/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1554974349-aff6804d100a.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"freetousesounds","total_collections":0,"total_likes":4,"total_photos":262,"accepted_tos":true},"exif":{"make":"SONY","model":"ILCE-7S","exposure_time":"1/8000","aperture":"2","focal_length":"28.0","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.7392358,"longitude":-104.990251}},"views":21473,"downloads":39}'
  recorded_at: Wed, 15 Jan 2020 17:56:45 GMT
recorded_with: VCR 5.0.0
